*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
@font-face {
	font-family: Simplifica;
	src: url(SIMPLIFICATypeface.ttf);
}
input[type=checkbox]{
	display: none;
}
input[type=checkbox]:checked ~ .nav{
	top: 27px;
}
input[type=checkbox]:checked ~ .header{
	margin-top: 85px;
}
input[type=checkbox]:checked ~ .nav ul{
	display: block;
    border-top: 2px solid #97989b;
}
input[type=checkbox]:checked ~ .nav li{
	border-bottom: 2px solid #97989b;
}
.show-menu{
	display: block;
	text-align: center;
	font-family: Simplifica, 'Berlin Sans FB';
	font-weight: bold;
	font-size: 25px;
}
.nav{
	background-color: rgba(255, 255, 255);
	position: fixed;
	left: 0;
    top: 0;
	z-index: 10;
	width: 100%;
	height: auto;
}
.nav ul{
	display: none;
}
.nav li, .nav a{
    display: block;
	text-align: center;
}
.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav a{
    color: rgba(30, 23, 21, 0.9);
	font-family: Simplifica, 'Berlin Sans FB';
	text-decoration:none;
	text-transform: uppercase;
	padding: 2px 4px 2px 2px;
	font-weight: bold;
	font-size: 19px;
	position: relative;
}
.nav a:hover {
	background-color:#f0f0f0;
}
.nav a:active {
    top: 2px;
}
.header{
	width: 100%;
	/*max-height: 380px;*/
	display: inline-block;
	background-image: url("https://s3.amazonaws.com/spicyhottea/1440888101221.jpg");
	background-size: contain;
	background-repeat: repeat-x;
	position: relative;
}
.header h3, h4{
	visibility: hidden;
}
.header:after {
	padding-top: 28.125%;
	display: block;
	content: '';
}
.textHead{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.textHead h4{
	color: rgb(232, 232, 232);
	font-size: 1.1em;
	text-align: center;
	font-style: italic;
	font-family: Simplifica, 'Berlin Sans FB';
	position: absolute;
	bottom: 0;
    right: 0;
	margin-bottom: 0;
}
.header h2{
	margin-top: 1.5%;
	color: rgb(232, 232, 232);
	font-size: 2.1em;
	text-align: center;
	font-family: Simplifica, 'Berlin Sans FB';
}
.header h3{
	color: rgb(232, 232, 232);
	font-size: 2.2vw;
	text-align: center;
	font-style: italic;
	font-family: Simplifica, 'Berlin Sans FB';
	position: absolute;
	bottom: 0;
	right: 40%;
	margin-bottom: 0;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.leftbar{
	order: 2;
	width: 42.5%;
	border: 2px solid red;
}
.midbar{
	order: 1;
	font-size: 100px;
	width: 100%;
	border: 2px solid blue;
	overflow: hidden;
}
.rightbar{
	order:3;
	width: 42.5%;
	border: 2px solid green;
}
@media only screen and (min-width: 480px){
input[type=checkbox] ~ .nav ul{
	display: block;
}
input[type=checkbox]:checked ~ .nav{
	top: 0;
}
input[type=checkbox]:checked ~ .header{
	margin-top: 50px;
}
input[type=checkbox]:checked ~ .nav ul{
	display: block;
    border: none;
}
input[type=checkbox]:checked ~ .nav li{
	border: none;
}
.show-menu{
	display: none;
}
.nav{
	border-bottom: 2px solid #97989b;
	background-color: rgba(255, 255, 255);
	position: fixed;
	left: 0;
    top: 0;
	z-index: 10;
	width: 100%;
	height: 50px;
}
.nav li, .nav a{
    display: inline-block;
}
.nav li{
	padding-right: 2%;
}
.nav ul{
	margin-top: 7px;
	margin-bottom: 0px;
}
.nav a{
    color: rgba(30, 23, 21, 0.9);
	font-family: Simplifica, 'Berlin Sans FB';
	text-decoration:none;
	text-transform: uppercase;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	font-size: 1.55em;
	position: relative;
}
.nav a:hover {
	background-color:#f0f0f0;
	border-radius: 10px;
}
.nav a:active {
    top: 2px;
}
.nav-btn{
	margin-left: 4%;
}
.header{
	width: 100%;
	margin-top: 50px;
	display: inline-block;
	background-image: url("https://s3.amazonaws.com/spicyhottea/1440888101221.jpg");
	background-size: contain;
	background-repeat: repeat-x;
	position: relative;
}
.header:after {
	padding-top: 28.125%;
	display: block;
	content: '';
}
.textHead{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.textHead h4{
	color: rgb(232, 232, 232);
	font-size: 1.1em;
	text-align: center;
	font-style: italic;
	font-family: Simplifica, 'Berlin Sans FB';
	position: absolute;
	bottom: 0;
    right: 0;
	margin-bottom: 0;
}
.header h2{
	margin-top: 1.5%;
	color: rgb(232, 232, 232);
	font-size: 3.2em;
	text-align: center;
	font-family: Simplifica, 'Berlin Sans FB';
}
.header h3{
	color: rgb(232, 232, 232);
	font-size: 2.2vw;
	text-align: center;
	font-style: italic;
	font-family: Simplifica, 'Berlin Sans FB';
	position: absolute;
	bottom: 0;
	right: 40%;
	margin-bottom: 0;
}
.header h3, h4{
	visibility: visible;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.leftbar{
	order: 1;
	width: 225px;
	border: 2px solid red;
}
.midbar{
	order: 2;
	font-size: 100px;
	width: 650px;
	border: 2px solid blue;
    overflow: auto;
}
.rightbar{
	order: 3;
	width: 225px;
	border: 2px solid green;
}
}