body {
  background-image: url("https://s3.amazonaws.com/spicyhottea/1427678798992.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
.nav {
	background-color: rgba(255, 255, 255);
	height: auto;
	margin: auto;
	position: fixed;
	left: 0;
    top: 0;
	z-index: 10;
	width: 100%;
}
.nav ul{
	margin-left: 100px;
}
.nav li, .nav a{
    display: inline-block;
}
.nav a{
    color: rgba(30, 23, 21, 0.9);
	/*border: 2px solid black;*/
	font-family: Calibri;
	border-radius: 10px;
	width: 100px;
	text-decoration:none;
	text-transform: uppercase;
	margin-right: 10px;
	text-align: center;
	padding: 8px 0 8px 0;
	font-weight: bold;
	font-size: 1.2em;
	position: relative;
}
.nav a:hover {
    background-color:#f0f0f0;
}
.nav a:active {
    top: 2px;
}
.container {
	 max-width: 1300px;
	 margin: 0 auto;
 }
.header {
  background-image: url("https://s3.amazonaws.com/spicyhottea/1400533494184.jpg");
  background-position: center center;
  background-size: contain;
  height: 300px;
  margin-top: 40px;
  text-align: center;
  border: 2px solid black;
}
#header-text {
  margin: 0 auto;
  position: relative;
  top: 30%;
}
.center {
	max-width: 1150px;
	margin: 0 auto;
	border: 2px solid white;
	background-color: #e2d1c5;
}
.leftmain {
	float: left;
    max-width: 200px;
    border: 2px solid white;
	display: inline-block;
}
.middlemain {
	width: 700px;
	border: 2px solid #00ff00;
	display: inline-block;
    margin-left: 35px;
    position: relative;
}
.middlemain h3, .middlemain p, .middlemain h2 {
	color: black;
}
.buttons {
	background-color: rgb(243, 204, 165);
	/*margin: 0 auto;*/
	border: 1px solid black;
}
.buttons h4{
	color: black;
	text-align: center;
}
.main2{
	background: url("https://s3.amazonaws.com/spicyhottea/1583998.jpg");
}
.rightmain{
	float: right;
	display: inline-block;
	max-width: 200px;
	border: 2px solid blue;
}
.value-props {
  margin: 20px auto;
  width: 60%;
}
.prop{
  text-align: center;
  border: 1px solid #FFF;
  padding: 40px 0;
  margin: 20px 0;
}

.prop h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}
#aa-logo {
  padding-left: 6px;
}
h1 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 100;
}

h3 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0px;
  text-align: center;
}

h4 {
  color: #CCC;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}