*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.nav{
	border-bottom: 2px solid #97989b;
	background-color: rgba(255, 255, 255);
	position: fixed;
	left: 0;
    top: 0;
	z-index: 10;
	width: 100%;
	height: 50px;
}
.nav li, .nav a{
    display: inline-block;
}
.nav li{
	padding-right: 2%;
}
.nav ul{
	margin-top: 7px;
	margin-bottom: 0px;
}
.nav a{
    color: rgba(30, 23, 21, 0.9);
	font-family: Calibri;
	text-decoration:none;
	text-transform: uppercase;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	font-size: 1.2em;
	position: relative;
}
.nav a:hover {
    background-color:#f0f0f0;
	border-radius: 10px;
}
.nav a:active {
    top: 2px;
}
.nav-btn{
	margin-left: 4%;
}
.header{
	margin-top: 50px;
	border: 1px solid red;
}
@media only screen and (max-width: 480px){
  .nav{
	height: 40px;
  }
  .header{
	margin-top: 40px;
  }
  .nav a {
    font-size: 15px;
  }
  .nav ul{
	margin-top: 4px;
}
  .nav-btn{
	margin-left: 0;
}
}